.features {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding: 6.25rem 0;

    @include md{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        justify-content: center;
        align-items: flex-start;
    }

    &-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 2.5rem;

        @include md{
            flex-basis: 25%;
            margin: 1rem;
            min-width: 25%;
        }

        h3{
            font-size: 1.1rem;
            color: #1D2F61;
            margin: 1rem 0;
            line-height: .9;
        }

        p{

            @include xl{
                font-size: 1rem;
            }
            a{
                text-decoration: none;
                color: #4C8EEC;
            }
        }
    }

    &-domain{
        width: 45%;
        padding: 1rem 0;

        @include md{
            width: 100%;;
        }

        @include xl{
            width: 70%;
        }
    }

    &-sla{
        width: 15%;
        @include md{
            width: 40%;
        }
        @include xl{
            width: 25%;
        }
    }

    &-white{
        width: 15%;
        padding: 1rem 0;
        @include md{
            width: 50%;;
        }
        @include xl{
            width: 30%;
        }
    }

    &-user{
        width: 20%;
        @include md{
            width: 60%;;
        }
        @include xl{
            width: 40%;
        }
    }

    &-enterprise{
        width: 15%;
        padding: 1rem 0;
        @include md{
            width: 30%;;
        }
        @include xl{
            width: 20%;
        }
    }
}